*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 7000px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/* //////////////////////////////////////////////////////// */
.header {
    position: fixed;
    width: 100%;
    height: 50px;
    /* background-color: rgba(139, 94, 60, 0.8); */
    background-color: rgba(90, 57, 33, 0.9);
    top: 0;
    z-index: 30;
}
.home-icon {
    color: #fff;
    font-size: 25px;
    padding-top: 12px;
    padding-left: 30px;
    float: left;
}
.header-searchBox {
    float: left;
    position: relative;
    width: 230px;
    margin-left: 45px; 
    margin-top: 12px;
}
[type="text"] {
    width: 100%;
    height: 25px;
    background-color: rgb(250, 250, 250);
    border-radius: 25px;
    border: 0;
    padding-left: 30px;
    /* **** */
}
.search-icon {
    position: absolute;
    font-size: 15px;
    top: 6px;
    left: 10px;
    /* **** */
}
.header-list {
    list-style: none;
    float: right;
    margin-right: 50px;
    padding-top: 15px;
}
.header-list li {
    display: inline-block;
    margin-left: 20px;
}
.header-list li a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 5px;
}
.header-list li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #c89f72;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.header-list li a:hover::after {
    width: 100%;
    height: 3px;
    visibility: visible;
    opacity: 0.8;
}
.header-list-dropdown {
    position: relative;
   
}
.header-dropdown {
    position: absolute;
    width: 150px;
    padding: 5px;
    background-color: #8B5E3C;
    border: 1px solid rgb(93, 59, 51);
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition:  0.5s;
    top: 150%;
    left: 0;
    z-index: 50;
}
.header-dropdown li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #fff;
    position: relative;
}
.header-list-dropdown:hover .header-dropdown {
    visibility: visible;
    opacity: 1;
}
.header-dropdown li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #a67c52;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.header-dropdown li a:hover::after {
    width: 100%;
    height: 3px;
    visibility: visible;
    opacity: 0.8;
}



/* ///////////////////////////////////////////////////home////////////////////////////////////////////////////////////////////////// */
.home-parent{
    width: 100%;
    height: 100vh;
    background-image: url(../images/image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
.home-overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0,0.4);
}
.home-content{
    color:#fff;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home-title{
    font-size: 55px;
    text-transform: capitalize;
}
.home-parg{
    color: #ccc ;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: capitalize;
    /* padding: 10px 0px; */
    margin: 10px 0px;
}
.home-btn{
    width: 100px;
    padding: 15px;
    border: 0px;
    border-radius: 15px;
    font-size: 18px;
    text-transform: capitalize;
}
.home-btn2{
    background-color:#A67c52 ;
    color: white;

}
.home-btn:hover{
    opacity: 0.5;
}
/* ///////////////////////////////////////////section-about//////////////////////////////////////// */
 .section-about{
    height: 100vh;
    overflow: auto;
    /* background-color: aqua; */
    
 }
 .about-title{
    text-align: center;
    color: #5A3921;
    text-transform: capitalize;
    font-size: 40px;
    margin-top: 50px;
 }
 .about-line{
    width: 120px;
    margin: auto;
    /* border: 2px solid  rgb(144, 103, 88); */
    /* border: 2px solid #a67c52; */
    /* border: 2px solid rgb(144, 103, 88); */
    border: 2px solid #7b5032;
    margin-top: 10px;
    margin-bottom: 50px;
 }
  .about-item{
    float: left;
    /* border:1px solid #A67c52; */
    border: 1.5px solid #7b5032;
    text-align: center;
    margin-left: 140px;
    margin-top: 80px;
    border-radius: 10px;
    width: 320px;
    height: 220px;
    position: relative;

 } 
 .about-icons{
    padding-top: 20px  ;
    font-size: 30px;
    color: #7b5032 ;
 }
 /* .about-icon1{
    color: #f6bd72;
    color: #7b5032;
 }
 .about-icon2{
    color: red;
 } */

 .about-item-title{
    padding-top : 20px;
    text-transform: capitalize;
    /* color:black; */
    color:  #5A3921;
 }
 .about-item:hover .about-item-title{
    /* color: #b5b4b4; */
    /* color: #8b5e3c; */
    /* color: #684832; */
    /* color: #a67c52; */
    /* color: #7b5032; */
    color: #96603a;
 }
 .about-item-prag{
    padding-top: 20px;
    text-transform: capitalize;
    /* color: #ccc; */
    color: #6f6e6e;
    /* color: #555; */
 }
 .about-item:hover .about-item-prag{
    /* color:black; */
    /* color: #858585; */
    color: #4a2e1f;

 }
.about-item-link{
    text-decoration: none;
    padding-top:20px ;
    display: block;
    text-transform: capitalize;
    /* color:#977447; */
    color: #a67c52;
}
.about-item:hover .about-item-link{
    color:#8b623f ;
}
.about-item::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    /* background-color: #ecccac; */
    /* background-color:  #eac29a; */
    /* background-color: #f1d8bd; */
    /* background-color: #99603e; */
    /* background-color: #c2936b; */
    /* background-color: #d8a47f; */
    /* background-color: #e6bfa3; */
    /* background-color: #e6c6aa; */
    /* background-color: #f0d4b8; */
    background-color: #e4bb97;
    /* background-color: #d8b18a; */
    border-radius: 10px;
    /* visibility: hidden; */
     opacity: 0;
    transition: 0.5s;
    z-index: -1;
}
.about-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
} 
/* ////////////////////////////////////////////////////////sec3////////////////// */
.sec3{
    height: 100vh;
    /* background-color: #ecccac; */
    background-color: rgba(228, 187, 151,0.5);
    overflow: auto;
    /* مهم اعرفها ليه تمام */
}
.sec3-title{
    text-align: center;
    color: #5A3921;
    font-size: 40px;
    text-transform: capitalize;
    padding-top: 50px;
}
.sec3-line{
    width: 90px;
    /* border: 2px solid rgb(144, 103, 88); */
    border: 2px solid #7b5032;
    margin: auto;
    margin-top:10px ;
}
.sec3-photo1{
    
    float: left;
    margin-left: 280px;
    margin-top: 50px;
    position: relative;
}
.sec3-photo1 img {
    /* width: 100%; */
    display: block;
}
.sec3-overlay1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0,0,0.5);
    visibility: hidden;
    /* opacity: 0; */
    transition: 0.2s;
    text-align: center;
    color: #fff;
    /* display: block; */
}
.sec3-photo1:hover .sec3-overlay1{
    visibility: visible;
    /* opacity: 1; */
}
.overlay-title{
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 30px;
    /* color:#71482a; */
     /* color: #96603a; */
     /* color:#b6794c; */
     color: #fff;
}
.overlay-prag{
    /* color: #b5b5b8; */
    /* color: #6f6e6e; */
    color: #ccc;
    /* color: #ddd; */
    margin-top: 25px;
}
.overlay-icons a{
    text-decoration: none;
    /* margin-top:40px ; */
    /* color: #ffffff; */
    color: #7b5032 ;
    /* color: #5a3921; */
    
}
.overlay-icons a i{
    line-height: 30px;
    margin-top: 40px;
    width: 30px;
    height: 30px;
    /* background-color: #b5b4b4; */
    /* background-color: #A67c52; */
    /* background-color: #5A3921; */
    /* background-color:  #96603a; */
    /* background-color: #7b5032; */
    /* background-color: #b6794c; */
    /* background-color: #7b5032; */
    /* background-color:  #e8d1b0; */
    background-color: #fff;
    border-radius: 5px;
    font-size: 22px;
}
.sec3-photo2-3{
    float: left;
    margin-left: 35px;
    margin-top: 50px;
    position: relative;
}
.sec3-photo2-3 img{
    /* width: 100%; */
    display: block;
}
.sec3-photo2-3:hover .sec3-overlay1{
    visibility: visible;
    /* opacity: 1; */
}
.sec3-photo3{
    width: 300px;
    height: 200px;
    background-image: url(../images/image26.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec3-photo4{
    float: left;
    margin-left: 280px;
    margin-top: 30px;
    position: relative;
}
.sec3-photo4 img{
    /* width: 100%; */
    display: block;
}
.sec3-photo4:hover .sec3-overlay1{
    visibility: visible;
    /* opacity: 1; */
}
.sec3-photo5-6{
     float: left;
    margin-left: 35px;
    margin-top: 30px;
    position: relative;
}
.sec3-photo5-6 img{
    /* width: 100%; */
    display: block;
}
.sec3-photo5-6:hover .sec3-overlay1{
    visibility: visible;
    /* opacity: 1; */
}
/* ////////////////////////////////////////////////////////sec4////////////////////////////// */
.sec4{
    height: 100vh;
     /* background-color: aqua;  */
    overflow:auto;
}
.sec4-title{
    text-align: center;
    color: #5A3921;
    text-transform: capitalize;
    font-size: 40px;
    padding-top: 50px;
}
.sec4-line{
    width: 100px;
    margin: auto;
    /* border: 2px solid  rgb(144, 103, 88); */
    border: 2px solid #7b5032;
    margin-top: 10px;
    /* margin-bottom: 30px; */
}
.sec4-container{
    width: 80%;
    margin: auto;
    /* background-color: aqua; */
   
}
.sec4-parent{
    overflow: auto;
}
.sec4-item{
    float: left;
    width: 30%;
    width: 300px;
    height: 200px;
    /* border:1px solid #A67c52; */
    border: 1.5px solid #7b5032;
    border-radius: 10px;
    margin: 3% 0%;
    position: relative;
}
.item1-3{
    margin-left: 35px;
}
.item25{
    margin:3% 10%;
}
.sec4-item-info{
    width: 300px;
    height: 200px;
    padding: 25px 15px 30px 60px;
   
}
.sec4-item-info a{
    position: absolute;
   top: 20px;
   left: 10px;
    font-size: 30px;
    /* color: #ecccac; */
    color: #7b5032;
}
.sec4-item-info h3{
    font-size: 24px;
    color: #5A3921;
    text-transform: capitalize;
}
.sec4-item-info p{
    padding-top: 20px;
    text-transform: capitalize;
   /* color:rgb(170, 165, 165) ; */
   /* color: rgb(209, 215, 215); */
   color: rgb(111, 110, 110);
}
.sec4-item:hover .sec4-item-info h3{
    /* color: #A67c52; */
    color: #96603a;
}
.sec4-item:hover .sec4-item-info p{
    /* color: rgb(0, 0, 0); */
    color: #4a2e1f;
}
.sec4-item::after{
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    /* background-color: #ecccac; */
    background-color: #e4bb97;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}
.sec4-item:hover::after{
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 0.5;
}
 /* ///////////////////////////////////////////////////////sec5///////////////////////////////////// */
.sec5-container{
    width: 80%;
    margin: auto;
    /* background-color: aqua; */
}
.sec5-parent{
   height: 100vh;
   overflow: auto;
}
.sec5-div1{
    float: left;
    padding-top: 100px;
    /* width: 50%; */
}
.div1-title-h2{
    text-transform: capitalize;
    color: #5A3921;
    font-size: 40px;
    
}
.div1-title-line{
    width: 100px;
    /* border:2px solid  rgb(144, 103, 88) ;*/
    border: 2px solid #7b5032; 
    margin-top: 10px;
}
.div1-title-prag{
    text-transform: capitalize;
    /* color: rgb(209, 215, 215); */
      color: #aeaeae;
      /* color: #999 ;  */
    padding-top:40px ;
}
.div1-list ul{
    list-style: none;

}
.div1-list ul li{
    margin: 40px 0;
   color: rgb(155, 154, 154);
   
}
.div1-list ul li i{
    color: #7b5032;
}
.sec5-div2{
    float: left;
    padding-top: 90px;
    padding-left: 50px;
    /* padding-left: 100px; */
    /* width: 50%; */
   
}
.sec5-div2 img{
     width: 400px;
    height: 500px;
}
.sec5-div2 ul{
   margin-left:60px ;
    /* list-style: none; */
    /* text-align: center; */
    margin-left: 150px;
}
.sec5-div2 ul li{
    display: inline-block; 
 /* list-style-type:disc; */
 /* font-size: 40px; */
 width: 15px;
 height: 15px;
 border-radius: 50%;
 margin: 10px 5px;
 background-color: rgb(102, 102, 102);
 /* text-align: center; */

    
}
 .sec5-div2 ul  li.circle{
     background-color: #7b5032;
}
.sec5-div2 ul  li:hover{
     background-color: #7b5032;
}
/* ////////////////////////////////////////////////////////sec6//////////////////////////////////// */
.sec6-image{
     width: 100%;
     height: 500px;
    background-image: url(../images/image21.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.sec6-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0,0.5);
    position: absolute;
}
.sec6-container{
    width: 80%;
    margin: auto;
    /* background-color: #A67c52; */
}
.sec6-parent{
    overflow: auto;
}
.sec6-item{
    float: left;
    padding-top: 200px;
    width: 25%;
    /* background-color: aqua; */
    text-align: center;
}
.sec6-item i{
    font-size: 22px;
    /* color: #ecccac; */
    /* color: #8e5d3a ; */
    color: #A67c52;
}
.sec6-item h3{
    color: #fff;
}
.sec6-item p{
    /* color:#fff; */
    color: #ccc ;
}
/* ////////////////////////////////////////////////////////sec7///////////////////////////////////// */
.sec7{
    height: 100vh;
}
.sec7-title{
    text-transform: capitalize;
    color: #5A3921;
    text-align: center;
    font-size: 40px;
    padding-top: 60px;
}
.sec7-line{
    width: 90px;
    margin: auto;
    /* border: 2px solid  rgb(144, 103, 88); */
     border: 2px solid #7b5032; 
    margin-top: 10px;
    /* margin-bottom: 40px; */
}
.sec7-container{
    width: 80%;
    margin: auto;
}
.sec7-parent{
   overflow: auto;
   padding: 50px 50px;
   /* background-color: aqua; */
}
.sec7-item{
    float: left;
    width: 30%;
    text-align: center;
    /* border: 1px solid rgb(144, 103, 88); */
    border: 1.5px solid #7b5032;
    border-radius: 10px;
    text-transform: capitalize;
    padding: 25px 15px;
    position: relative;
}
.sec7-item2{
    margin: 0 5%;
}
.sec7-prag{
    /* font-size: 20px; */
    /* padding-top: 25px; */
    text-transform: uppercase;
    /* color: black; */
    color: #aeaeae;
}
.sec7-item:hover .sec7-prag{
    color: #6b4229;
;
}
.sec7-price{
    width: 100px;
    height: 100px;
    border-radius: 70%;
    /* border:  1px solid rgb(144, 103, 88); */
     border: 1.5px solid #7b5032;
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
    /* margin: auto; */
    text-align: center;
    padding-top: 25px;
    /* padding: 25px 0px; */

}
.sec7-item:hover  .sec7-price{
     border: 1.5px solid #4e321f;
}
.sec7-price h2{
    font-size: 30px;
    color: #5A3921;;
}
.sec7-price p{
    color: #aeaeae;
}
.sec7-item ul{
    list-style: none;
}
.sec7-item ul li{
    margin: 25px 0px;
    color: rgb(155, 154, 154);
}
.sec7-item:hover ul li {
    /* color: #4a2e1f; */
    color: #6b4229;

}
    
.sec7-item-btn{
    border-radius: 10px;
    /* border:  1px solid rgb(144, 103, 88); */
    border: 2px solid #7b5032;
    width: 160px;
    height: 35px;
    font-size: 15px;
    text-transform: capitalize;
    /* color: #4e321f; */
    color: #6b4229;

}
.sec7-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    /* background-color: #ecccac; */
    background-color: #e4bb97;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}
.sec7-item:hover::after{
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 0.5;
}
/* ////////////////////////////////////////////////////////sec8///////////////////////////////////// */
.sec8-image{
    width: 100%;
    height: 500px;
    background-image: url(../images/image22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.sec8-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0,0.5);
    position: absolute;
   
}
.sec8-container{
    width: 80%;
    margin: auto;
    /* background-color: rgb(255, 119, 0); */
}
.sec8-parent{
    overflow: auto;
    height: 100%;
    width: 90%;
    margin: auto;
}
.sec8-item{
    width: 50%;
    height: 100%;
    float: left;
    /* position: relative; */
    /* padding-top: 100px; */
    /* background-color: aqua; */
}
/* .item-2{
    margin-left: 7px;
} */
.sec8-info{
   position: relative;
    padding: 130px 40px 10px 100px;
}

.sec8-info img{
    position: absolute; 
    border-radius: 50%;
    top: 100px;
    /*  top: 150px; */
    /* left: 150px;  */
}
.sec8-info h3{
    margin-left: 120px;
    margin-top: 30px;
    font-size: 30px;
    text-transform: capitalize;
    color: #fff;

}
.sec8-info p{
    margin-left: 120px;
    font-size: 18px;
    text-transform: capitalize;
    color: #A67c52;
}  
.sec8-item-prag{
    margin-top: 40px;
    margin-right: 40px;
        /* margin: 0px 30px 0px 50px */
        /* color: #f0f0f0; */
        /* color: #aeaeae; */
        color: #ccc;
}


/* ////////////////////////////////////////////////////////section-team///////////////////////////// */
.section-team{
    height: 100vh;
    /* background-color: aqua; */
    /* margin-top:140px; */
}
.team-title{
    text-align: center;
    color: #5A3921;
    text-transform: capitalize;
    font-size: 40px;
    padding-top: 120px;
}
.team-line{
    width: 90px;
    margin: auto;
    /* border:2px solid  rgb(144, 103, 88); */
    border: 2px solid #7b5032; 
    margin-top: 10px;
    margin-bottom: 50px;
}
.team-container{
    width: 80%;
    margin: auto;
    /* background-color: #e10a0a; */
}
.team-parent{
    overflow: auto;
}
.team-item{
    width: 30%;
    float: left;
    text-align: center;
    /* background-color: #ecccac; */
    /* background-color:  #d8b59d; */
      background-color:  #f5eee6;
    border-radius: 10px;
    padding: 15px 20px;
    position: relative;
}
.item2{
    margin: 0px 5%; 
}
.team-image{
    width: 90%;
    margin: auto;
    /* background-color: aqua; */
    position: relative;
}
.team-image img{
    width: 100%;
    display: block;

}
.team-icons{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0,0,0.5);
    visibility: hidden;

}
.team-item:hover .team-icons{
    visibility: visible;
    /* opacity: 0.5; */
}
.team-icons a{
    width: 40px;
    height: 40px;
    color: #fff;
    /* background-color:rgb(88, 152, 226) ; */
    background-color: rgb(123, 80, 50);
    display: block;
    margin-left: auto;
}
.team-icons a i{
    line-height: 40px;
    font-size: 22px;
}
.team-info-title{
    margin: 10px 0;
    text-transform: capitalize;
    color: #5A3921;
}
.team-info-prag{
    text-transform: capitalize;
    /* color: rgb(132, 132, 132); */
    color: rgb(111, 110, 110);
}
.team-item:hover .team-info-title{
    /* color: #f0f0f0; */
    color: #96603a;

}
.team-item:hover .team-info-prag{
    /* color: #cba682; */
    /* color: black; */
    color:  #4a2e1f;;
}
.team-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    /* background-color:#dba066; */
    background-color: #e4bb97;
    /* background-color: #f2d2b7; */
    background-color: #ddae85;
    transition: .5s;
    opacity: 0;
    border-radius: 10px;
    /* z-index: -1;   */
}
.team-item:hover::after{
    width: 100%;
    height: 100%;
    opacity:0.5;
}
/* ////////////////////////////////////////section-news////////////////////////////////////// */
.news-title{
    font-size: 40px;
    text-transform: capitalize;
    color: #5A3921;
    text-align: center;
    padding-top: 40px;
}
.news-line{
    width: 90px;
    margin: auto;
    /* border: 2px solid  rgb(144, 103, 88); */
    border: 2px solid #7b5032; 
    margin-bottom:50px ;
}
.news-container{
    width: 80%;
    margin: auto;
}
.news-parent{
overflow: auto;
}
.news-item{
    float: left;
    width: 30%;
    text-align: center;
    /* border: 1px solid rgb(144, 103, 88); */
    border: 1.5px solid #7b5032;
    border-radius: 10px;
    padding-bottom: 20px;
    position: relative;
}
.news-item img{
    margin-top: 20px;
    border-radius: 10px;
}
.news-item2{
    margin: 0px 5%;
}
.news-icons ul{
    list-style: none; 
    margin-top: 15px;
    
}
.news-icons ul li{
    display:inline;
    margin-right: 15px; 
    color: #6b4229 ;
}
.news-info-title{
    margin: 15px 0px;
    color: #5A3921;
    
}
.news-item:hover .news-info-title{
    color: #96603a;
}
.news-info-prag{
    margin: 15px 0px;
    /* margin-bottom:25px ; */
     color: rgb(111, 110, 110);
}
.news-item:hover .news-info-prag{
    /* color: #4a2e1f; */
    color: #6b4229;
}
.news-info a{
    text-decoration: none;
    color: #a67c52;
    /* margin-bottom: 50px; */
    /* padding-bottom: 50px; */
    margin: 15px 0px;
}
.news-item:hover .news-info a{
    color:#8b623f ;
}
.news-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    /* background-color: #ecccac; */
     background-color: #e4bb97;
    border-radius: 10px;
    opacity: 0.5;
    transition: 0.5s;
    z-index: -1;
}
.news-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
}
/* /////////////////////////////////////////////////////////////////// */
/* .contact-us{
     background-color: rgba(228, 187, 151,0.5);
      margin-top: 150px;
} */
.contact-container{
    width: 100%;
     background-color: rgba(228, 187, 151,0.5);
    padding: 15px 0px; 
     margin-top: 150px;
}
.contact-img{
    width: 350px;
    height: 250px;
    margin:  auto ;
    background-color: #5A3921;
    border-radius: 10px;
    background-image: url(../images/image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contact-link{
    margin-top: 20px;
    
}
.contact-link ul{
    list-style: none;
    text-align: center;
}
.contact-link ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: rgba(123, 80, 50,0.6); */
    background-color: rgba(90, 57, 33,0.6);
    /* background-color: rgba(255, 255, 255 ,0.6); */
    color: #fff ;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    /* opacity: 0.5; */
}
.contact-link ul li:hover{
    /* opacity: 1; */
    background-color: rgba(123, 80, 50,1);
    /* background-color: rgba(90, 57, 33,1); */
}
.contact-prag{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    color: rgb(111, 110, 110) ;
}
